%h1 Editing lifestyle_cue_inference_clarification_connector

= render 'form'

= link_to 'Show', @lifestyle_cue_inference_clarification_connector
\|
= link_to 'Back', lifestyle_cue_inference_clarification_connectors_path
