%p#notice= notice


= link_to 'Edit', edit_lifestyle_cue_inference_clarification_connector_path(@lifestyle_cue_inference_clarification_connector)
\|
= link_to 'Back', lifestyle_cue_inference_clarification_connectors_path
