%h1 Editing lifestyle_subgenre_inference_clarification_connector

= render 'form'

= link_to 'Show', @lifestyle_subgenre_inference_clarification_connector
\|
= link_to 'Back', lifestyle_subgenre_inference_clarification_connectors_path
